#body {
	-ms-overflow-style: none;
	background-color: #242424;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: larger;
	color: #ffffff;
	margin: 0px;
}

#label {
	font-size:16px;
	padding-top:2px;
  }

#progressbar, trough, progress{
	/*background-color: green;*/
	min-height: 30px;
}

#menu_button
{
	text-decoration: none;
	font-size: 24px;
	color: rgb(0,0,0);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3), 
	             0px 0px 0px rgba(0,0,0,0.7);
	border-radius: 2px;
	border-style: none;
	box-shadow: 3px 3px 10px #888888;
	padding: 3px;
	background: rgb(255, 255, 255);
	transition: color 0.1s, background 0.1s;
	border: 3px solid rgb(255, 255, 255);
}

#menu_button_select {     
	text-decoration: none;
	font-size: 24px;
	color: rgba(248,248,248,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3), 
	             0px 0px 0px rgba(255,255,255,1);
	border-radius: 2px;
	border-style: none;
	box-shadow: 3px 3px 10px rgb(247, 114, 198);
	padding: 3px;
	background: rgb(255, 0, 163);
	transition: color 0.1s, background 0.1s;
	border: 3px solid rgb(255, 0, 163);
}

#menu_button:focus {     
	background: rgb(19, 128, 54);   
}

.menu_button:hover, #ap_password_page button:hover
{
	text-decoration: none;
	color: rgba(248,248,248,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3), 
	             0px 0px 0px rgba(255,255,255,1);
	background: rgb(19, 128, 54);
}

.menu_button.current 
{
	text-decoration: none;
	color: rgba(248,248,248,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3), 
	             0px 0px 0px rgba(255,255,255,1);
	background: rgb(0, 0, 0);
}

/* Green button */
#scan_button, #ap_password_page button{
	background: rgb(201, 210, 0);
	border: 3px solid #668a08;
}

#scan_button:hover, #ap_password_page button:hover {
	background: rgb(115, 152, 51);
}


/* Red button */
#clear_confirm button.warning, #clientJoin_banner button.warning {
	background: #d72c2c;
	border: 3px solid #9e1212;
}
#clear_confirm button.warning:hover, #clientJoin_banner button.warning:hover {
	background: #b31414;
}

.menu_button:focus, #ap_password_page button:focus
{
	outline: 0;
}


.bar {
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-item a{
	font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;	
	background: #171717;
	padding: 1rem 1rem;		
}

.nav-item a:hover{
	background: #41c363;
}
.nav-item a.current {
	background: black;
	outline: solid 1px white;
	outline-offset: -1px;
}

.footer
{
	padding: 1px 10px 0px 10px;
	background: #41c363;
	font-size: 1.5em;
	font-weight: bold;
}
