# This is the main set of dependencies for the project
##
## DO NOT OVERWRITE TFLITE_RUNTIME - it is compiled within the image & setup for hardware.
##
ELM327-emulator==3.0.0
matplotlib==3.7.2
mediapipe==0.10.8
microdot==2.0.6
numpy==1.26.0
obd==0.7.2
psutil==6.0.0
pycryptodome==3.20.0
pyserial==3.5
python-can==4.4.2
serial==0.0.97
tendo==0.3.0